<div class="piece_comment">

<div class="piece_comment_view">

<div class="piece_comment_piece">
<div class="piece_comment_piece_info">
<a class="user"></a><span class="date"></span>
</div>
<div class="piece_comment_piece_content">
</div>
<div class="piece_comment_piece_footer">
<a class="tag"></a>
</div>
</div>
<div class="piece_comment_list">
</div>

</div>

<div class="piece_comment_post">
<div class="piece_comment_post_header"></div>
<form class="hs-form piece_comment_post_form">
	<textarea></textarea>
	<button class="hs-btn hs-btn-primary">发 布</button>
</form>
</div>

</div>