<div class="piece-comment">

<div class="piece-comment-view">

<div class="piece-comment-piece">
<div class="piece-comment-piece-info">
<a class="user"></a><span class="date"></span>
</div>
<div class="piece-comment-piece-content">
</div>
<div class="piece-comment-piece-footer">
<a class="tag"></a>
</div>
</div>
<div class="piece-comment-list">
</div>

</div>

<div class="piece-comment-post">
<div class="piece-comment-post-header"></div>
<form class="hs-form piece-comment-post-form">
	<textarea></textarea>
	<button class="hs-btn hs-btn-primary">发 布</button>
</form>
</div>

</div>