<foreach name="pieces" item="piece">
<div class="piece" id="{$piece['id']}">
<div class="piece_left">
<div class="essay_date">
<div class="date_y">{:date("Y",strtotime($piece['date']))}</div>
<div class="date_md">{:date("m/d",strtotime($piece['date']))}</div>
</div>
</div>
<div class="piece_right">
<div class="bg"></div><div class="piece_triangle"></div>
<div class="piece_info">
<span class="piece_author">{$piece.username} &nbsp; &nbsp;</span>
<span class="piece_date"> <i class="icon-time" title="发布时间"></i> {:date("Y-m-d",strtotime($piece['date']))}</span>
</div>
<div class="piece_content">
{$piece.content}
</div>
<div class="piece_footer"><i class="icon-tag"></i>  
<assign name="tags" value="$piece['tag']" /> 
<foreach name="tags" item="tag" >
<a href="javascript:tag('{$tag}');" class="tag" style="text-decoration:none;">{$tag}</a>&nbsp;
</foreach>
<if condition="$piece['visible'] eq 0">
  <i class="icon-eye-close" title="私密"></i>
</if>
 <span class="piece_operation">
 <i class="icon-remove piece-remove" title="删除，请谨慎" onclick="javascript:deleteItem('piece',{$piece['id']});"></i>
 </span>
</div>
</div>
</div>
</foreach>