<div class="pieces">
<foreach name="pieces" item="piece">
<div class="piece" id="{$piece['piece_id']}">
<div class="piece-left">
<a href="javascript:;" onclick="hMessage('暂时无法访问');" target="_blank"><img class="user-avatar" src="__PUBLIC__/img/me.jpg" title="访问他/她的主页"/></a>
</div>
<div class="piece-right">
<div class="bg"></div><div class="piece-triangle"></div>
<div class="piece-info">
<span class="piece-user"><a href="javascript:;" onclick="hMessage('暂时无法访问');" target="_blank" class="piece-user">{$piece.username}  </a></span>&nbsp;&nbsp;发布于
<span class="piece-date"><i class="hs-icon-time"></i> {:date("Y-m-d",strtotime($piece['date']))}</span>
</div>
<div class="piece-content">
{$piece.content}
</div>
<div class="piece-footer"><i class="hs-icon-tag"></i> 
<assign name="tags" value="$piece['tag']" /> 
<foreach name="tags" item="tag" >
<a href="javascript:tag('{$tag}');" class="tag" style="text-decoration:none;">{$tag}</a>&nbsp;
</foreach>
<span class="piece-footer-right"><a href="javascript:showPieceCmt('{$piece['piece_id']}');"><i class="hs-icon-comment-alt" title="评论"></i></a></span>
</div>
</div>
</div>
</foreach>

<!-- <div ng-include="'__PUBLIC__/templates/Index/pieces.html'" ></div> -->

<div ui-view></div>
</div>
<!-- <button type="button" class="hs-btn hs-btn-primary hs-btn-block load-more" onclick="loadPieces();"><i class="hs-icon-arrow-down"></i> 加载更多</button> -->
