/*css for edit,modify*/
div.diary-edit,div.diary-modify{ max-width: 750px; /* width:100%; */ margin: 0 auto; background: #fff; box-shadow:0px 5px 10px rgba(0,0,0,0.5); padding: 20px;}
div.diary-edit form div.diary-edit-footer{margin: 10px auto;}
div.diary-edit form div.diary-edit-footer button{margin: 20px auto;}
div.diary-edit-footer-note{font-size: 14px; color: #696969;}
div.diary-edit form textarea{}
div.diary-edit-header{margin: 10px auto;}
div.diary-edit-header p{padding: 10px;}
div.input-group{margin: 10px auto;}
div.input-group input,div.input-group select{ border-radius: 0;}
/**/
span.diary-operation{ opacity: 0; float: right;}
span.diary-operation:hover{ opacity: 1;}

