<foreach name="essays" item="essay">
<div class="essay" id="{$essay['id']}">
<div class="essay-left">
<div class="essay-date">
<div class="date-y">{:date("Y",strtotime($essay['date']))}</div>
<div class="date-md">{:date("m/d",strtotime($essay['date']))}</div>
</div>
</div>
<div class="essay-right">
<div class="bg"></div><div class="essay-triangle"></div>
<div class="essay-info">
<div class="essay-id" style="display:none;">{$essay['id']}</div>
<span class="essay-author"><a href="{:U('User/index',array('user'=>$piece['username']))}" target="_blank">{$essay.userName}  </a></span>
</div>
<div class="essay-content">
<a href=javascript:getViewPage("{:U('Essay/view')}","content","essay",{$essay['id']})><h4 class="title">《{$essay.title}》</h4></a>
{:mb_substr(strip_tags($essay['content']),0,150,'UTF-8')}... ...
</div>
<div class="essay-footer"><i class="icon-tag"></i> 
<assign name="tags" value="$essay['tag']" /> 
<foreach name="tags" item="tag" >
<a href="javascript:tag('{$tag}');" style="text-decoration:none;">{$tag}</a>&nbsp;
</foreach>
<if condition="$essay['visible'] eq 0">
 &nbsp;<i class="icon-eye-close" title="私密"></i>
</if>
<span class="essay-operation">
 <i class="icon-edit essay-modify" title="修改" onclick=window.location.href="{:U('Essay/modify',array('id'=>$essay['id']))}"></i>
 <i class="icon-remove essay-remove" title="删除，请谨慎" onclick="javascript:deleteItem('essay',{$essay['id']});"></i>
 </span>
</div>
</div>
</div>
</foreach> 