<div class="view_panel">
	<h3 class="view_title">{$diary.title}</h3>
	<div class="view_info">
	<span class="view_userName"><a href="{:U('User/view',array('userName'=>$diary['username']))}" class="view_user" onmouseover=show_user_card('{$diary.username}',"{:U('User/get_user_info')}") onmouseout="hide_user_card();">{$diary.username}</a><div id="user_card"></div></span>
	<span class=""><i class="icon-time" title="发布时间"></i> {$diary.date}</span>
	<span class=""><i class="icon-tag" title="文章标签"></i> 
	<assign name="tags" value="$diary['tag']" /> 
	<foreach name="tags" item="tag" >
		<a href="javascript:tag('{$tag}');" style="text-decoration:none;">{$tag}</a>&nbsp;
	</foreach>
	</span>
	<span class="essay_operation">
	<i class="icon-edit essay-modify" title="修改文章"></i>
	<i class="icon-remove piece-remove" title="删除，请谨慎" onclick=javascript:deleteItem("{:U('Essay/delete')}",'essay',{$diary['id']});></i>
	</span>
	</div>
	<div class="view_content">{$diary.content}</div>
	<div class="view_footer"></div>
	<div class="view_comment"></div>
</div>
<script type="text/javascript">
	var avatar_path = "__PUBLIC__/img/lion.png";
</script>
<script src="__PUBLIC__/js/view.js"></script>