/*css for essay index*/
div.essay{ padding:20px; width:auto; }
div.essay-right{position:relative; margin-left:100px; width:auto; background-color:#fff; padding:15px; color:#555;}
div.essays{ max-width: 1000px; margin: 0 auto;}
div.essay-content a{ color: #696969; }
div.essay-content a:hover{ color: #333; }
h4.essay-title{ font-size: 2.2rem; font-weight: normal; color: #696969;}
div.essay-footer a{ font-size: 1.4rem; color: #696969; text-decoration: none;}
div.essay-footer a:hover,h4.essay-title:hover{ color: #333;}
/* span.essay-operation{ opacity: 0; float: right;}
span.essay-operation:hover{ opacity: 1;} */
div.essays-empty-tip{}
/*css for edit*/
div.essay-edit,div.essay-modify{ max-width: 750px; margin: 0 auto; background: #fff; /* box-shadow:0px 5px 10px rgba(0,0,0,0.5); */ padding: 20px;}
div.essay-edit form div.essay-edit-footer{margin: 10px auto;}
div.essay-edit form div.essay-edit-footer button{margin: 20px auto;}
div.essay-edit-footer-note{font-size: 14px; color: #696969;}
div.essay-edit form textarea{}
div.essay-edit-header{margin: 10px auto;}
div.essay-edit-header p{padding: 10px;}
div.input-group{margin: 10px auto;}
div.input-group input,div.input-group select{ border-radius: 0;}
span.input-group-addon{margin: 10px auto; border-radius: 0; /* background-color: #dff0d8; color: #000; */}
/*css for essay comment*/
div.essay-comments{width: 800px; background: #fff;margin: 20px auto; padding: 20px;}
article.essay-comment{ width: 100%; margin: 15px auto;}

/*css for essay view*/
div.post-comment{ margin: 20px auto; background:#fff; padding: 20px;}
textarea.post-comment-edit{ height: 200px;}
button.post-comment-btn{ margin-top:10px;}
div.view-wrapper{width: 800px; margin: 0 auto;}
div.essay-comments-tip,div.essay-comment-on-tip{text-align: center;}
div.view-panel{ min-height: 100%; height: auto; padding:20px; margin:0 auto; background-color: #fff; /* box-shadow:0px 2px 5px rgba(0,0,0,0.5); */}
div.view-info,div.view-footer{ margin:20px 0; font-size: 1.2rem; }
div.view-info span{ margin-right: 10px;}
div.view-content{ font-size: 1.5rem;}
div.view-content img{ max-width: 740px;}

a.view-user,span.view-date,span.view-tag a{ color: #696969;}
a.view-user:hover,span.view-tag a:hover{ color: #333;}
h3.view-title{ font-weight: normal; font-size: 2.2rem;}

span.view-userName{ position: relative;}
#user-card{ color:#fff; box-shadow:0px 2px 5px rgba(0,0,0,0.5); position: absolute; left:0; top:10px; display: none; z-index: 999; background-color: #6fc6f8; width: 360px; text-align: center; padding: 30px 0px 50px 0px;}
#user-card button{ border-radius: 0;}
div.user-card-action{margin: 20px 0;}
div.user-card-name{ font-size: 18px; margin-bottom: 10px;}
#user-card img.user-card-avatar{width: 80px; height: 80px; border-radius: 40px; margin-bottom: 20px;}

