<div class="essay-edit y-full" ng-controller="c_edit">
<div class="essay-edit-header"></div>
<form class="hs-form essay-edit-form">
	<div class="hs-input-group hs-input-group-{{interface_color}}">
	  <span class="hs-input-group-label">标题 <i class="hs-icon-font"></i></span>
	  <input type="text" class="form-control title" aria-describedby="basic-addon1" name="title" title="标题，碎片无需填" placeholder="标题，碎片无需填" ng-model="edit_title">
	</div>
	<div class="hs-input-group hs-input-group-{{interface_color}}">
	  <span class="hs-input-group-label">标签 <i class="hs-icon-tag"></i></span>
	  <input type="text" class="form-control tag" aria-describedby="basic-addon1" name="tag" title="标签" placeholder="标签" ng-model="edit_tag">
	</div>

	<div class="hs-input-group hs-input-group-{{interface_color}}">
		<span class="hs-input-group-label">类型 <i class="hs-icon-bookmark"></i></span>
		<select class="hs-select hs-select-{{interface_color}} type" name="type" title="发布类型" placeholder="发布类型" ng-model="edit_type">
			<option value="piece">碎片</option>
			<option value="essay">文章</option>
			<!-- <option value="diary">日记</option> -->
		</select>
	</div>

	<div class="hs-input-group hs-input-group-{{interface_color}}">
		<span class="hs-input-group-label">可见 <i class="hs-icon-eye"></i></span>
		<select class="hs-select hs-select-{{interface_color}} visible" name="visible" title="可见性" placeholder="可见性" ng-model="edit_visible">
			<option value="1">所有人可见</option>
			<!-- <option value="2">好友(互相关注)可见</option> -->
			<option value="0">仅自己可见</option>
		</select>
	</div>

	<div class="hs-input-group hs-input-group-{{interface_color}}">
	  <span class="hs-input-group-label">歌曲 <i class="hs-icon-music"></i></span>
	  <input type="text" class="hs-form-field tag" name="tag" title="歌曲" placeholder="请输入歌曲名，歌手名查找" ng-model="edit_song_key">
	  <span class="hs-input-group-btn">
        <button class="hs-btn hs-btn-default" type="button" ng-click="searchSong()" data-hs-modal="{target: '#edit_song_search_modal', closeViaDimmer: 0, width: 500, height: 600}">搜索</button>
      </span>
	</div>

	<textarea id="essay-editor" name="content" ng-model="edit_content"></textarea>
	<div class="essay-edit-footer">
		<div class="essay-edit-footer-note"><i  class="hs-icon-info" title="转载的文章请在底部注明转载出处或链接，图片如若超过大小请在线进行 压缩 后上传"></i>  转载的文章请在底部注明转载出处或链接，图片如若超过大小请在线进行 <a href="http://www.secaibi.com/tools/" target="_blank">压缩</a> 后上传</div>
		<div class="essay-edit-footer-operation">
			<input type="checkbox" name="post-piece-check" ng-model="post_piece_check">&nbsp;同时发布动态
		</div>
		<button class="hs-btn hs-btn-{{interface_color}} essay-submit" type="button" ng-click="editPost()">发 布</button>
	</div>
</form>

<div class="hs-modal hs-modal-no-btn" tabindex="-1" id="edit_song_search_modal">
  <div class="hs-modal-dialog">
    <div class="hs-modal-hd">查找结果
      <a href="javascript: void(0)" class="hs-close hs-close-spin" data-hs-modal-close>&times;</a>
    </div>
    <div class="hs-modal-bd" style="max-height:550px; overflow:auto;">
	    <ul class="hs-list">
	    	<li ng-show="song_search_tip_show"><a href="javascript:;" ng-bind="song_search_tip"></a></li>
			<li ng-repeat="song in songs"><a href="javascript:void(0);" ng-click="insertMusicBox(song.song_id)">{{song.song_singer}}:{{song.song_name}}</a></li>
		</ul>
    </div>
  </div>
</div>

</div>



<script>
window.edit_post = KindEditor.create('#essay-editor',editOpts);
</script>