<div class="essays" ng-hide="res_empty">
	<div class="essay" id="{{essay.essay_id}}" ng-repeat="essay in essay_items">
		<div class="essay-right">
			<div class="essay-info">
				<a ng-click='getViewPage(essay.essay_id)' href="javascript:;"><h4 class="essay-title" ng-bind-html="essay.title | highLight:search_key | trustHtml"></h4></a>
				<div class="essay-date">{{essay.date}}</div>
				<div class="essay-id" style="display:none;">{{essay.essay_id}}</div>
			</div>
			<div class="essay-content" ng-bind-html="essay.content | subStr:200 | addStr:'...' | trustHtml"></div>
			<div class="essay-footer"><i class="hs-icon-tag"></i> 
				<a href="javascript:tag('{{essay.tag}}');" ng-bind-html="essay.tag | highLight:search_key | trustHtml"></a>&nbsp;
				<i class="hs-icon-eye-slash" ng-show="essay.visible==0" title="不可见"></i> 
				<span class="essay-operation f-right">
					<a href="javascript:void(0);" class="plain-link" ng-click="modify('essay',essay.essay_id)"><i class="hs-icon-edit"></i></a>
					<a href="javascript:void(0);" class="plain-link m-left-20" ng-click="deleteItem('essay',essay.essay_id)"><i class="hs-icon-trash"></i></a>
				</span>
			</div>
		</div>
	</div>
</div>


