<div class="essay-modify y-full" ng-controller="c_modify">
<div class="essay-edit-header"></div>
<form class="hs-form essay-edit-form">
	<div class="hs-input-group hs-input-group-primary">
	  <span class="hs-input-group-label">标题 <i class="hs-icon-font"></i></span>
	  <input type="text" class="form-control title" aria-describedby="basic-addon1" name="title" title="标题" placeholder="标题" ng-model="essay_title">
	</div>
	<div class="hs-input-group hs-input-group-primary">
	  <span class="hs-input-group-label">标签 <i class="hs-icon-tag"></i></span>
	  <input type="text" class="form-control tag" aria-describedby="basic-addon1" name="tag" title="标签" placeholder="标签" ng-model="essay_tag">
	</div>

	<div class="hs-input-group hs-input-group-primary">
		<span class="hs-input-group-label">可见性 <i class="hs-icon-eye"></i></span>
		<select class="hs-select visible" name="visible" title="可见性" placeholder="可见性" ng-model="essay_visible">
			<option value="1">所有人可见</option>
			<!-- <option value="2">好友可见</option> -->
			<option value="0">仅自己可见</option>
		</select>
	</div>

	<textarea id="modify-editor" name="content"></textarea>
	<div class="essay-edit-footer">
		<div class="essay-edit-footer-note"><i  class="hs-icon-info" title="转载的文章请在底部注明转载出处或链接，图片如若超过大小请在线进行 压缩 后上传"></i>  转载的文章请在底部注明转载出处或链接，图片如若超过大小请在线进行 <a href="http://www.secaibi.com/tools/" target="_blank">压缩</a> 后上传</div>
		<div class="essay-edit-footer-operation">
			<input type="checkbox" name="post-piece-check" ng-model="post_piece_check">&nbsp;同时发布动态
		</div>
		<button class="hs-btn hs-btn-{{interface_color}}  essay-submit" type="button" ng-click="postModify()">保 存</button>
	</div>
</form>
</div>

<script>
        window.modify_editor = KindEditor.create('#modify-editor',editOpts);
</script>