大河向东流啊~<!-- <div id="piece-comment" ng-controller="pieceCmtCrl" ng-hide="hide">
<div class="piece-comment-view">
<div class="piece-comment-piece">
<div class="piece-comment-piece-info">
<a class="user" href="javascript:;">{{piece.user}}</a>
<span class="date">{{piece.date}}</span>
</div>
<div class="piece-comment-piece-content">
{{piece.content}}
</div>
<div class="piece-comment-piece-footer">
<i class="icon-tag"></i> <a class="tag" href="javascript:;">{{piece.tag}}</a>
</div>
</div><hr>
<div class="piece-comment-list">

<div class="piece-comment-item" ng-repeat="item in items">
<div class="piece-comment-item-info">
<a class="piece-comment-user" href="javascript:;">{{item.user}}</a>&nbsp;
<span class="piece-comment-date"><i class="icon-time"></i>{{item.date}}
</span>
</div>
<div class="piece-comment-item-content">
{{item.content}}
</div>
<div class="piece-comment-item-footer">
</div>
</div>
<div class="piece-comment-tip">
<i class="icon-warning-sign"></i> 暂无评论
碎片ID是{{piece.id}}
</div>

</div>
</div>
<div class="piece-comment-post">
<div class="piece-comment-post-header">
<i class="icon-coffee"></i> 评论碎片
</div>
<form class="hs-form piece-comment-post-form">
<textarea class="piece-comment-edit" name="piece-comment-edit"></textarea>
<button type="button" onclick="postPieceCmt()" class="hs-btn hs-btn-primary post-piece-comment-btn">发 布</button>
</form>
</div>
<button type="button" ng-click="closeCmt();">关闭</button>
</div> -->