<foreach name="pieces" item="piece">
<div class="piece">
<div class="piece_left">
<a href="{:U('User/index',array('user'=>$piece['username']))}" target="_blank"><img class="piece_avatar" src="__PUBLIC__/img/lion.png" title="访问他/她的主页"/></a>
</div>
<div class="piece_right">
<div class="bg"></div><div class="piece_triangle"></div>
<div class="piece_info">
<span class="piece_author"><a href="{:U('User/index',array('user'=>$piece['username']))}" target="_blank">{$piece.username}  </a></span>
<span class="piece_date"><i class="icon-time"></i> {:date("Y-m-d",strtotime($piece['date']))}</span>
</div>
<div class="piece_content">
{$piece.content}
</div>
<div class="piece_footer"><i class="icon-tag"></i>
<assign name="tags" value="$piece['tag']" /> 
<foreach name="tags" item="tag" >
<a href="{:U('Action/tag',array('tag'=>$tag))}" style="text-decoration:none;">{$tag}</a>&nbsp;
</foreach>
<if condition="$piece['ispublic'] eq 0">
 <i class="icon-eye-close" title="私密"></i>
</if>
</div>
</div>
</div>
</foreach>

<button class="hs-btn hs-btn-primary hs-btn-block load_more"><i class="icon-arrow-down"></i> 加载更多</button>