<div class="hs-pop-panel" style="width:500px;height:200px;margin-top:-200px;top: 50%; ">
	<div class="hs-pop-panel-head"><h4>修改用户名</h4></div><hr class="hs-hr">
	<div class="hs-pop-panel-body">
	<form class="hs-form">
		<div class="hs-input-group">
	              <span class="hs-input-group-label"><i class="hs-icon-user"></i> 新用户名</span>
	              <input type="text" class="hs-form-field" name="new_username" placeholder="新用户名">
	            </div>
	            <button class="hs-btn hs-btn-primary" onclick="javascript:;">重置</button>
	            <button class="hs-btn hs-btn-primary" onclick="javascript:;">关闭</button>
	</form>
	</div>
</div>