@CHARSET "UTF-8";
/*common*/
html,body{height: 100%;}
*{font-family:'microsoft yahei'; font-size:14px;color: #fff;}
div.bg{width:auto; height:100%; margin:0 auto;}

div.title{ text-align:center; color:#fff; font-size:26px; margin-bottom:10px; font-weight: bold;}
img.avatar-img{ margin: 20px auto; width:80px; height:80px; }
img.avatar-img:hover{width:80px; height:80px; border-radius:40px; box-shadow:0px 5px 10px rgba(0,0,0,0.8); }

div.login-panel,div.register-panel{text-align:center; max-width:600px; min-width:300px; height:100%; box-shadow:0px 5px 10px rgba(0,0,0,0.5); margin:0 auto; padding:0;}
form.login-form,form.register-form{width:100%;  margin:30px auto; }
div.login-panel form input,div.register-panel form input{ display:block; margin:0 auto; border-radius:0;}
form.login-form div.hs-input-group,form.register-form div.hs-input-group{margin: 20px auto; width: 40%;}

div.operation{ opacity:0; height:10px;}
div.operation:hover{ opacity:1; height:auto;}
div.operation button{ width:40%; margin:10px auto; border-radius:0; color: #fff;}

div.verify-code img{width: 40%; height: 36px;}

button.login,button.register{ width:40%; margin:20px auto; border-radius:0; color: #fff;}

/*login**/

/*register*/
