<!DOCTYPE html>
<html ng-app="User" ng-controller="c_user">
<head>
<meta charset="UTF-8">
<title>{$user.username}的主页</title>
<link rel="stylesheet" href="__PUBLIC__/bower/fontawesome/css/font-awesome.min.css"/>
<link rel="stylesheet" href="__PUBLIC__/bower/lightbox2/dist/css/lightbox.css"/>
<link rel="stylesheet" href="__PUBLIC__/css/dist/plugins.css"/>
<link rel="stylesheet" href="__PUBLIC__/css/dist/index.css"/>
<style type="text/css">
	#left-panel{ background-image: url('__PUBLIC__/img/login_bg.png');}
</style>
</head>
<body>
<div id="mask" ng-show="mask_show">
	<div ui-view="mask"></div>
</div>
<div id="hMessage-mask"></div>
<!-- 左边侧 个人资料面板 -->
<div id="left-panel">
<div class="user-avatar">
<img class="user-avatar hs-img" src="__PUBLIC__/img/lion.png">
</div>
<div class="userName">{$user.username}</div>
<div class="user-signature">{$user.signature}</div>
<div class="user-items">

<if condition="$isSelf neq 1">
<div class="hs-btn-group hs-btn-group-justify">
    <button type="button" class="hs-btn hs-btn-primary btn-follow" ng-click="follow('{$user.username}')" ng-bind-html="follow_btn_html | trustHtml"></button>
    <button type="button" class="hs-btn hs-btn-primary btn-send-msg"><i class="hs-icon-envelope-o"></i> 发消息</button>
</div>
</if>

<button class="hs-btn hs-btn-primary hs-btn-block"><i class="hs-icon-fire"></i> 碎片({$piece_nums | default=0})</button>
<button class="hs-btn hs-btn-primary hs-btn-block"><i class="hs-icon-font"></i> 文章({$essay_nums | default=0})</button>
<!-- <button class="hs-btn hs-btn-primary hs-btn-block"><i class="hs-icon-calendar"></i> 日记({$diary_nums | default=0})</button> -->

</div>

</div>

<div id="right-panel">
<div id="content">

<div class="content-tip center-tip"><i class="hs-icon-warning"></i> 抱歉啦，这个页面还没做好~</div>

</div>
</div>

<!-- 回到顶部 -->
<a href="javascript:gotoTop();" id="backTop"><i class="icon-arrow-up"></i> 回到顶部</a>
</body>
<script>
	var load_essays_path = "{:U('Essay/load_essays')}";
	var public_path = "__PUBLIC__";
	var editor_basePath = "__PUBLIC__/editor/";
	var getTokenPath = "{:U('Action/get_qiniu_token')}";
	var home_path = "__MODULE__";
</script>
<script src="__PUBLIC__/js/dist/plugins.js"></script>
<script src="__PUBLIC__/js/dist/angular.js"></script>
<script src="__PUBLIC__/js/dist/index.js"></script>
<script src="__PUBLIC__/js/angular/user.js"></script>
</html>