<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rel="icon" type="image/png" href="favicon.ico">
<title>{$user['username'] | default="我的主页"}</title>
<!-- <link rel="stylesheet" href="__PUBLIC__/css/bootstrap/bootstrap.min.css"/> -->
<link rel="stylesheet" href="__PUBLIC__/css/font-awesome/css/font-awesome.min.css"/>
<link rel="stylesheet" href="__PUBLIC__/css/index.css"/>
<link rel="stylesheet" href="__PUBLIC__/css/piece/piece.css"/>
<link rel="stylesheet" href="__PUBLIC__/css/diary/diary.css"/>
<link rel="stylesheet" href="__PUBLIC__/css/essay/essay.css"/>
<link rel="stylesheet" href="__PUBLIC__/css/view.css"/>
<!-- <link rel="stylesheet" href="http://cdn.bootcss.com/flat-hs/2.2.2/css/flat-hs.min.css"/> -->
<link rel="stylesheet" href="__PUBLIC__/bower_components/amazeui/dist/css/amazeui.css"/>
<!-- <link rel="stylesheet" href="__PUBLIC__/bower_components/semantic/dist/components/dropdown.min.css"/> -->
<link rel="stylesheet" href="__PUBLIC__/bower_components/lightbox2/dist/css/lightbox.css"/>
<!--<style type="text/css">
	#left_panel{ background-image: url('__PUBLIC__/img/login_bg.png');}
	#right_panel{ background-image: url('__PUBLIC__/img/bg_day.png');}
</style>-->
<script src="__PUBLIC__/bower_components/jquery/dist/jquery.min.js"></script>
<script src="__PUBLIC__/bower_components/jquery.lazyload/jquery.lazyload.js"></script>
<style type="text/css">
	#left_panel{ background-image: url('__PUBLIC__/img/login_bg.png');}
	#right_panel{ background-image: url("__PUBLIC__/img/{$user_config['bg_img']}.png");}
</style>
</head>
<body>
<div id="mask"></div>
<div id="hMessage_mask"></div>
<!-- 左边侧 个人资料面板 -->
<div id="left_panel">
<div class="user_avatar">
<img class="user_avatar hs-img" src="__PUBLIC__/img/me.jpg" title="点击修改头像">
</div>
<div class="userName">{$user.username}</div>
<div class="user_signature">{$user['signature'] | default='尚未设置签名' }</div>
<div class="user_items">

<div class="hs-btn-group hs-btn-group-justify">
    <button type="button" class="hs-btn hs-btn-primary hs-btn-msg" onclick="javascript:hMessage('尚未实现');"><i class="icon-envelope-alt"></i> 消息 <span class="hs-badge hs-badge-danger hs-round">15</span></button>
    <button type="button" class="hs-btn hs-btn-primary" onclick="window.location.href='{:U('Essay/edit_page')}'"><i class="icon-edit"></i> 发布</button>
    <button type="button" class="hs-btn hs-btn-primary" onclick="javascript:hMessage('尚未实现');"><i class="icon-tags"></i> 标签</button>
</div>

<button class="hs-btn hs-btn-primary hs-btn-block" onclick="javascript:window.location.href='{:U('Index/index')}'"><i class="icon-random"></i> 首页</button>
<button class="hs-btn hs-btn-primary hs-btn-block" onclick=getPage("{:U('Piece/get_piece_page')}","content",4)><i class="icon-fire"></i> 我的碎片({$piece_nums | default=0})</button>
<button class="hs-btn hs-btn-primary hs-btn-block" onclick=getPage("{:U('Essay/get_essay_page')}","content",2)><i class="icon-font"></i> 我的文章({$essay_nums | default=0})</button>
<button class="hs-btn hs-btn-primary hs-btn-block" onclick=getPage("{:U('Diary/get_diary_page')}","content",3)><i class="icon-calendar"></i> 我的日记({$diary_nums | default=0})</button>

<!-- <button class="hs-btn hs-btn-primary hs-btn-block" onclick=showEditPage("{:U('Action/get_edit_page')}","essay","content")><i class="icon-pencil"></i> 提笔ajax</button>
<button class="hs-btn hs-btn-primary hs-btn-block" onclick="window.location.href='{:U('Essay/edit_page')}'"><i class="icon-pencil"></i> 提笔</button> -->

</div>
<div class="hs-btn-group hs-btn-group-justify setting">
<!--  <button class="hs-btn hs-btn-primary hs-btn-block"><i class="icon-wrench"></i> 设置</button>-->
<button class="hs-btn hs-btn-primary" onclick="window.location.href='{:U('Action/logout')}'"><i class="icon-off"></i> 退出</button>
<button class="hs-btn hs-btn-primary" onclick="javascript:hMessage('尚未实现');"><i class="icon-wrench"></i> 设置</button>
<button class="hs-btn hs-btn-primary" onclick="javascript:hMessage('尚未实现');"><i class="icon-search"></i> 搜索</button>
<button class="hs-btn hs-btn-primary" onclick="hideControlPanel();"><i class="icon-arrow-left"></i> 收起</button>
</div>
</div>

<div id="right_panel">
<div id="content">

{__CONTENT__}

</div>
</div>
<!-- 回到顶部 -->
<a href="javascript:gotoTop();" id="backTop"><i class="icon-arrow-up"></i> 回到顶部</a>
</body>
<script>
	var load_essays_path = "{:U('Essay/load_essays')}";
	var public_path = "__PUBLIC__";
	var editor_basePath = "__PUBLIC__/editor/";
	var getTokenPath = "{:U('Action/get_qiniu_token')}";
</script>
<!-- <script src="__PUBLIC__/js/require.js" data-main="main"></script> -->
<script src="__PUBLIC__/bower_components/lightbox2/dist/js/lightbox.js"></script>
<!-- <script src="__PUBLIC__/bower_components/amazeui/dist/js/amazeui.js"></script> -->
<script src="__PUBLIC__/editor/Kindeditor.js" ></script>
<script src="__PUBLIC__/editor/lang/zh_CN.js"></script>
<script src="__PUBLIC__/js/jqpaginator.min.js"></script>
<script src="__PUBLIC__/js/index.js"></script>
<script src="__PUBLIC__/js/pages.js"></script>
<script src="__PUBLIC__/js/piece.js"></script> 
</html>