<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>登录</title>
	<link rel="stylesheet" href="__PUBLIC__/bower/amazeui/dist/css/amazeui.css"/>
	<link rel="stylesheet" href="__PUBLIC__/css/login_register.css"/>
</head>

<style>
body,div.login-panel{ background-image:url("__PUBLIC__/img/bg_night2.png"); }
button.login,button.register,span.hs-input-group-label{background-image: url("__PUBLIC__/img/bg_night2.png");} 
</style>

<script>
	console.log('There is nothing I can do when I think of you late at night...');
</script>

<body>

<div class="bg">
	<div class="login-panel">
		<div id="avatar">
			<img class="avatar-img" src="__PUBLIC__/img/zebra.png"/>
		</div>
		<div class="title">Heysoo</div>
		<div class="slogan">{$slogan}</div>

		<form action="{:U('Action/do_login')}" class="hs-form login-form" method="post">
			<div class="hs-input-group hs-input-group-default">
				<span class="hs-input-group-label"><i class="hs-icon-user"></i></span>
				<input class="userName form-control" name="userName"  type="text" placeholder="用户名" title="用户名">
			</div>

			<div class="hs-input-group hs-input-group-default">
				<span class="hs-input-group-label"><i class="hs-icon-lock"></i></span>
				<input class="passwd form-control"  name="passwd" type="password" placeholder="密码" title="密码">
			</div>

			<if condition="$verify_code_on eq true">
				<div class="hs-input-group hs-input-group-default">
				<span class="hs-input-group-label"><i class="hs-icon-hand-o-down"></i></span>
				<input class="verify-code form-control" name="verify_code"  type="text" placeholder="请填写以下验证码" title="验证码">
				</div>

				<div class="verify-code">
					<img class="verify-code-img" src="{:U('Action/create_verify_code')}" title="点击更换验证码" onclick=javascript:this.src="{:U('Action/create_verify_code')}">
				</div>
			</if>
			<button type="submit" class="hs-btn hs-btn-default hs-btn-block login">登   录</button>
		</form>

		<div class="operation">
			<button type="button" class="hs-btn hs-btn-default hs-btn-block register" onclick="window.location.href='{:U('Action/register')}'">注  册</button>
		</div>
	</div>
</div>

</body>
</html>