<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>注册</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="__PUBLIC__/bower/amazeui/dist/css/amazeui.css"/>
	<link rel="stylesheet" href="__PUBLIC__/css/login_register.css"/>
</head>

<style>
body,div.register-panel{ background-image:url("__PUBLIC__/img/bg_night2.png"); }
button.register,button.login,span.hs-input-group-label{background-image: url("__PUBLIC__/img/bg_night2.png");} 
</style>

<body>

<div class="bg">

	<div class="register-panel">

		<div id="avatar">
			<img class="avatar-img" src="__PUBLIC__/img/zebra.png"/>
		</div>

		<div class="title">Heysoo</div>
		<div class="slogan">{$slogan}</div>

		<form action="{:U('Action/do_register')}" class="hs-form register-form" method="post">

			<div class="hs-input-group hs-input-group-default">
			<span class="hs-input-group-label"><i class="hs-icon-user"></i></span>
			<input class="userName form-control" name="userName"  type="text" placeholder="用户名" title="用户名">
			</div>

			<div class="hs-input-group hs-input-group-default">
			<span class="hs-input-group-label"><i class="hs-icon-envelope"></i></span>
			<input class="email form-control" name="email"  type="text" placeholder="邮箱" title="邮箱">
			</div>

			<div class="hs-input-group hs-input-group-default">
			<span class="hs-input-group-label"><i class="hs-icon-lock"></i></span>
			<input class="passwd form-control"  name="passwd" type="password" placeholder="6位以上密码" title="密码">
			</div>

			<div class="hs-input-group hs-input-group-default">
			<span class="hs-input-group-label"><i class="hs-icon-lock"></i></span>
			<input class="passwd-again form-control"  name="passwd-again" type="password" placeholder="确认密码" title="确认密码">
			</div>

			<if condition="$register_invite_code_on eq true">
			<div class="hs-input-group hs-input-group-default">
			<span class="hs-input-group-label"><i class="hs-icon-key"></i></i></span>
			<input class="inviteCode form-control" name="invite_code"  type="text" placeholder="邀请码" title="向已注册用户索取邀请码">
			</div>
			</if>

			<if condition="$register_verify_code_on eq true">
			<div class="hs-input-group hs-input-group-default">
			<span class="hs-input-group-label"><i class="hs-icon-hand-o-down"></i></span>
			<input class="verify-code form-control" name="verify_code"  type="text" placeholder="填写以下验证码" title="验证码">
			</div>
			<div class="verify-code">
				<img class="verify-code-img" src="{:U('Action/create_verify_code')}" title="点击更换验证码" onclick=javascript:this.src="{:U('Action/create_verify_code')}">
			</div>
			</if>

			<button type="submit" class="hs-btn hs-btn-default hs-btn-block register">注  册</button>

			<div class="operation">
				<button type="button" class="hs-btn hs-btn-default hs-btn-block login" onclick="window.location.href='{:U('Action/login')}'">登  录</button>
			</div>
			
		</form>

	</div>

</div>

</body>
</html>