div.piece-info{ font-size: 1.4rem;}
a.closeCmt,span.piece-footer-right a{ color: #696969;}
a.closeCmt:hover,span.piece-footer-right a:hover{ color: #333;}
div.pieces-empty-tip{}
div.piece-comment{width: 90%; margin-left: 10%; margin-right: 10%; background-color: #fff; /* box-shadow: 0px 1px 2px rgba(0,0,0,0.5); */ display: none;}
div.piece-comment div.hs-input-group{margin: 0 auto; width: 96%; padding-top: 20px;}
div.piece-comment ul.piece-comment-list{max-height: 800px; overflow-y: auto;}
div.piece-comment ul.piece-comment-list li{padding:20px;}
div.piece-comment ul.piece-comment-list li article div.hs-comment-main div.hs-comment-bd img{max-width: 95%;}

div.pieces{ max-width: 1000px; margin: 0 auto;}
div.piece{ padding-top:20px; width:auto; }
div.piece-left{  float:left; margin:15px 20px 0px 10px; text-align: center;}
div.piece-left img.user-avatar{ width:50px; height:50px; border-radius:25px; margin: 0 auto; /* box-shadow:0px 1px 2px rgba(0,0,0,0.5); */ }
div.piece-left img.user-avatar:hover{  /* box-shadow:0px 5px 10px rgba(0,0,0,0.5) */; }
/* div.piece-date{ width: 80px; height: 80px; background-color: #fff; border-radius:40px; box-shadow:0px 1px 2px rgba(0,0,0,0.5); padding: 15px 20px 20px 15px;}
div.piece-date:hover{ box-shadow:0px 5px 10px rgba(0,0,0,0.5); } */
div.piece-right{ position:relative; margin-left:70px; width:auto; background-color:#fff;  padding:15px; color:#555; }
div.piece-right div.piece-content{margin:15px 0;}
div.piece-right div.piece-content *{font-size:1.6rem;}
div.piece-right div.piece-content img{max-width: 95%;}
div.piece-right div.piece-content div.img-preview .img-wrapper{width: 80px; height: 80px;}
div.piece-right:hover{ /* box-shadow:0px 2px 20px rgba(0,0,0,0.5); */}
div.piece-triangle{ position:absolute; left:-20px; top:30px; width:0; height:0; border-width:10px; border-color:transparent #FFFFFF transparent transparent; border-style:solid;} 
div.bg{position:absolute; left:-21px; top:30px; width:0; height:0; border-width:10px; border-color:transparent #aaa transparent transparent; border-style:solid;}
div.piece-info a{color: #696969;}
div.piece-info a:hover{color: #333;}

span.piece-footer-right{float: right;}