/* span.piece-operation{ float: right; opacity: 0;}
span.piece-operation:hover{ opacity: 1;} */
/*css for piece index*/
div.piece{}
div.piece-info{ font-size: 1.4rem;}
a.closeCmt,span.piece-footer-right a{ color: #696969;}
a.closeCmt:hover,span.piece-footer-right a:hover{ color: #333;}
div.pieces-empty-tip{}
/*css for piece-comment*/
#piece-comment{ position: relative; position: fixed; z-index: 1000; width: 960px; height:500px;  box-shadow: 0px 2px 5px rgba(0,0,0,0.8); margin-left: -455px; margin-top:-250px; left:50%; top: 50%;  background: #fff; padding: 20px;}
div.piece-comment-view,div.piece-comment-post{ display: inline-block; }
div.piece-comment-view{ overflow: auto;}
div.piece-comment-post{ position: relative;}
div.piece-comment-view{ float: left; padding-right: 10px; width: 510px; height: 100%; border-right: 1px solid #bbb;}
div.piece-comment-post{ float: right; padding: 10px; width: 400px; height: 100%; /* box-shadow: 0px 2px 5px rgba(0,0,0,0.8); */}
div.piece-comment-piece{  box-shadow: 0px 1px 2px rgba(0,0,0,0.8); margin: 1px; padding: 15px; }
div.piece-comment-view img{ max-width: 450px;}
div.piece-comment-list{ overflow: hidden;}
div.piece-comment-piece-info a{ color: #696969;}
div.piece-comment-piece-info a:hover{ color: #333;}
div.piece-comment-piece-content{ margin:10px auto;}
div.piece-comment-piece-footer a{ color: #696969;}
div.piece-comment-piece-footer a:hover{ color: #696969;}
div.piece-comment-post-header{margin-bottom: 10px;}
div.piece-comment-post textarea{ width: 380px; height: 100%;}
div.piece-comment-tip{ display: table; margin: 0 auto; margin-top: 50px;}
button.piece-comment-submit{ margin-top: 10px; float: right;}
div.piece-comment-item{ padding: 15px; box-shadow: 0px 1px 2px rgba(0,0,0,0.5); margin:10px 1px;}
div.piece-comment-item a{ color: #696969;}
div.piece-comment-item a:hover{ color: #333;}
div.piece-comment-item-content{ margin: 10px auto;}
a.closeCmt{float: right;}
div.piece-comment{margin-left:100px; background-color: #fff; box-shadow: 0px 1px 2px rgba(0,0,0,0.5); display: none;}
div.piece-comment div.hs-input-group{margin: 0 auto; width: 96%; padding-top: 20px;}
div.piece-comment ul.piece-comment-list{max-height: 800px; overflow-y: auto;}
div.piece-comment ul.piece-comment-list li{padding:20px;}