<div class="hs-panel hs-panel-{{interface_color}} msg-panel y-full" ng-controller="c_message" style="border:0;">
  <div class="hs-panel-hd text-center"><big><b>消息</b></big></div>
  <div class="hs-panel-bd">
    <ul class="hs-nav hs-nav-tabs hs-nav-justify">
      <li ng-class="{'hs-active': msg_tab=='comment'}"><a href="javascript:void(0);" ng-click="msgSwitchTab('comment',1)">评论</a></li>
      <li ng-class="{'hs-active': msg_tab=='at'}"><a href="javascript:void(0);" ng-click="msgSwitchTab('at',3)">@我</a></li>
      <li ng-class="{'hs-active': msg_tab=='whisper'}"><a href="javascript:void(0);" ng-click="msgSwitchTab('whisper',2)">私信</a></li>
      <li ng-class="{'hs-active': msg_tab=='notice'}"><a href="javascript:void(0);" ng-click="msgSwitchTab('notice',4)">通知</a></li>
    </ul>
    <div class="msg-view" ui-view="message">
      
    </div>
  </div>
</div>