<div class="hs-panel hs-panel-{{interface_color}} y-full">
  <div class="hs-panel-hd text-center"><big><b>搜索结果</b></big>[暂未实现]</div>
  <div class="hs-panel-bd">
    <div class="hs-btn-group hs-btn-group-justify">
      <button type="button" class="hs-btn hs-btn-{{interface_color}} hs-btn-msg" onclick="javascript:;">相关碎片</button>
      <button type="button" class="hs-btn hs-btn-default" onclick="javascript:;">相关文章</button>
      <button type="button" class="hs-btn hs-btn-default" onclick="javascript:;">相关日记</button>
      <button type="button" class="hs-btn hs-btn-default" onclick="javascript:;">其它</button>
    </div>
  </div>
</div>