<div class="hs-panel hs-panel-primary">
  <div class="hs-panel-hd"><big><b>设置</b></big>[暂未实现]</div>
  <div class="hs-panel-bd">
    <div class="hs-btn-group hs-btn-group-justify">
      <button type="button" class="hs-btn hs-btn-primary hs-btn-msg" onclick="javascript:;">资料</button>
      <button type="button" class="hs-btn hs-btn-default" onclick="javascript:;">界面</button>
      <button type="button" class="hs-btn hs-btn-default" onclick="javascript:;">推送</button>
      <button type="button" class="hs-btn hs-btn-default" onclick="javascript:;">隐私</button>
    </div>
  </div>
</div>