<div class="hs-panel hs-panel-{{interface_color}} y-full">
  <div class="hs-panel-hd"><big><b>管理标签</b></big>[暂未实现]</div>
  <div class="hs-panel-bd">
    <div class="hs-btn-group hs-btn-group-justify">
      <button type="button" class="hs-btn hs-btn-{{interface_color}} hs-btn-msg" onclick="javascript:;">文章标签</button>
      <button type="button" class="hs-btn hs-btn-default" onclick="javascript:;">碎片标签</button>
      <button type="button" class="hs-btn hs-btn-default" onclick="javascript:;">好友标签</button>
      <button type="button" class="hs-btn hs-btn-default" onclick="javascript:;">其他</button>
    </div>
  </div>
</div>