<!-- 编辑可见性标签 -->
<div id="visible-tag-edit-dialog">
	<h4 class="dialog-title">{{title}}</h4>
	<hr>
	<form class="hs-form">
		<div class="hs-form-group">
	    	<label>标签名称</label>
	    	<input type="text" placeholder="输入标签名称" ng-model="saved_tag.name">
	    </div>
	</form>
	<ul class="hs-list hs-list-static">
		<li ng-repeat="friend in friends">
			<a href="javascript:void(0);" class="plain-link" ng-click="selectFriend($index,friend.id)">
				{{friend.name}}
				<span class="f-right">
					<i class="hs-icon-check" class="friend-{{friend.id}}" ng-show="friend.checked"></i>
				</span>
			</a>
		</li>
	</ul>
	<div class="row">
		<button class="hi-btn hi-btn-primary light" ng-click="saveTagConfirm()">保存</button>
		<button class="hi-btn hi-btn-danger light" ng-click="deleteTag()">删除</button>
		<button class="hi-btn hi-btn-default light" ng-click="cancel()">取消</button>
	</div>
</div>