<foreach name="essays" item="essay">
<div class="essay" id="{$essay['id']}">
<div class="essay_left">
<div class="essay_date">
<div class="date_y">{:date("Y",strtotime($essay['date']))}</div>
<div class="date_md">{:date("m/d",strtotime($essay['date']))}</div>
</div>
</div>
<div class="essay_right">
<div class="bg"></div><div class="essay_triangle"></div>
<div class="essay_info">
<div class="essay_id" style="display:none;">{$essay['id']}</div>
<span class="essay_author"><a href="{:U('User/index',array('user'=>$piece['username']))}" target="_blank">{$essay.userName}  </a></span>
</div>
<div class="essay_content">
<a href=javascript:getViewPage("{:U('Essay/view')}","content","essay",{$essay['id']})><h4 class="title">《{$essay.title}》</h4></a>
{:mb_substr(strip_tags($essay['content']),0,300,'UTF-8')}... ...
</div>
<div class="essay_footer"><i class="icon-tag"></i> 
<assign name="tags" value="$essay['tag']" /> 
<foreach name="tags" item="tag" >
<a href="javascript:tag('{$tag}');" style="text-decoration:none;">{$tag}</a>&nbsp;
</foreach>
<if condition="$essay['visible'] eq 0">
 &nbsp;<i class="icon-eye-close" title="私密"></i>
</if>
<span class="essay_operation">
 <i class="icon-edit essay-modify" title="修改" onclick=window.location.href="{:U('Essay/modify',array('id'=>$essay['id']))}"></i>
 <i class="icon-remove essay-remove" title="删除，请谨慎" onclick="javascript:deleteItem('essay',{$essay['id']});"></i>
 </span>
</div>
</div>
</div>
</foreach> 