<div class="setting-interface" ng-controller="c_setting_interface">
<ul class="hs-list">
    	<li class=""><a href="javascript:;" ng-click="modifyInterface('theme')">布局
    	<span class="setting-item-right">
    	&nbsp;<i class="hs-icon-angle-right"></i>
    	</span></a>
    	</li>
    	<li class=""><a href="javascript:;" ng-click="modifyInterface('color')">颜色
    	<span class="setting-item-right">
    	&nbsp;<i class="hs-icon-angle-right"></i>
    	</span></a>
    	</li>
    	<li class=""><a href="javascript:;" ng-click="modifyInterface('sidebarbg')">边栏背景图
    	<span class="setting-item-right">
    	&nbsp;<i class="hs-icon-angle-right"></i>
    	</span></a>
    	</li>
    	<li class=""><a href="javascript:;" ng-click="modifyInterface('mainbg')">主页背景图
    	<span class="setting-item-right">
    	&nbsp;<i class="hs-icon-angle-right"></i>
    	</span></a>
    	</li>
</ul>
</div>
<!-- <div class="hs-alert hs-alert-warning">Tip:尚未实现</div> -->
<!--修改对话框-->
<!--修改主题-->
<div ng-controller="c_setting_interface_modal">
<div class="hs-modal hs-modal-no-btn" tabindex="-1" id="setting_interface_modal_theme">
  <div class="hs-modal-dialog">
    <div class="hs-modal-hd">选择布局
      <a href="javascript: void(0)" class="hs-close hs-close-spin" data-hs-modal-close>&times;</a>
    </div>
    <hr>
    <div class="hs-modal-bd">
      <form class="hs-form">
                 <select data-hs-selected>
                      <option value="theme-1" selected>菜单居左(默认)</option>
                      <option value="theme-2">菜单居右</option>
                </select>
                <hr>
                <button type="button" class="hs-btn hs-btn-{{interface_color}} hs-btn-block" ng-click="modifyTheme('theme')">保存</button>
    </form>
    </div>
  </div>
</div>
<!--修改颜色-->
<div class="hs-modal hs-modal-no-btn" tabindex="-1" id="setting_interface_modal_color">
  <div class="hs-modal-dialog">
    <div class="hs-modal-hd">修改颜色
      <a href="javascript: void(0)" class="hs-close hs-close-spin" data-hs-modal-close>&times;</a>
    </div>
    <hr>
    <div class="hs-modal-bd">
      <form class="hs-form">
             <select ng-model="interface_color" data-hs-selected>
                      <option value="primary" selected>蓝色(默认)</option>
                      <option value="success">绿色</option>
                      <option value="warning">橘色</option>
                      <option value="danger">红色</option>
                      <option value="transparent">透明</option>
            </select>
            <hr>
            <button type="button" class="hs-btn hs-btn-{{interface_color}} hs-btn-block" ng-click="modifyColor('color')">保存</button>
        </form>
    </div>
  </div>
</div>
<!--修改边栏背景-->
<div class="hs-modal hs-modal-no-btn" tabindex="-1" id="setting_interface_modal_sidebarbg">
  <div class="hs-modal-dialog">
    <div class="hs-modal-hd">修改边栏背景
      <a href="javascript: void(0)" class="hs-close hs-close-spin" data-hs-modal-close>&times;</a>
    </div>
    <hr>
    <div class="hs-modal-bd">
      <form class="hs-form">
             <select  ng-model="interface_sideBarBg" data-hs-selected>
                      <option value="bg_sidebar_lake">Lake(默认)</option>
                      <option value="bg_sidebar_senlinrenjia">森林人家</option>
                      <option value="bg_sidebar_sky">天空</option>
                      <option value="bg_sidebar_ctqq">池塘清趣</option>
                      <option value="bg_sidebar_xiaohe">小荷才露尖尖角</option>
                      <option value="bg_sidebar_dingzi">钉子</option>
                      <option value="bg_sidebar_people_1">人物一</option>
                      <option value="bg_sidebar_manhua_1">漫画图案1</option>
            </select>
            <hr>
            <button type="button" class="hs-btn hs-btn-{{interface_color}} hs-btn-block" ng-click="modifySidebarBg('sidebarbg')">保存</button>
        </form>
    </div>
  </div>
</div>
<!--修改主页背景-->
<div class="hs-modal hs-modal-no-btn" tabindex="-1" id="setting_interface_modal_mainbg">
  <div class="hs-modal-dialog">
    <div class="hs-modal-hd">修改主页背景
      <a href="javascript: void(0)" class="hs-close hs-close-spin" data-hs-modal-close>&times;</a>
    </div>
    <hr>
    <div class="hs-modal-bd">
      <form class="hs-form">
             <select  ng-model="interface_mainBg" data-hs-selected>
                      <option value="bg_day" selected>浅色纹理(默认)</option>
                      <option value="bg_night">深色纹理</option>
                      <option value="bg_luohua">落花</option>
                      <option value="bg_chaos">Sketch</option>
                      <option value="bg_yellow_flower">小黄花</option>
                      <option value="bg_lotus">莲花</option>
                      <option value="main-bg-2">无背景</option>
            </select>
            <hr>
            <button type="button" class="hs-btn hs-btn-{{interface_color}} hs-btn-block" ng-click="modifyMainBg('mainbg')">保存</button>
        </form>
    </div>
  </div>
</div>

</div>