<ul class="hs-list">
    	<li class="">主题
    	<span class="setting-item-right">
    	&nbsp;<i class="hs-icon-angle-right"></i>
    	</span>
    	</li>
    	<li class="">颜色
    	<span class="setting-item-right">
    	&nbsp;<i class="hs-icon-angle-right"></i>
    	</span>
    	</li>
    	<li class="">边栏背景图
    	<span class="setting-item-right">
    	&nbsp;<i class="hs-icon-angle-right"></i>
    	</span>
    	</li>
    	<li class="">主页背景图
    	<span class="setting-item-right">
    	&nbsp;<i class="hs-icon-angle-right"></i>
    	</span>
    	</li>
</ul>
<button class="hs-btn hs-btn-primary" type="button">保存</button>
<div class="hs-alert hs-alert-warning">Tip:尚未实现</div>