<ul class="hs-list">
    	<li class=""><a href="javascript:;" >允许关注
    	<span class="setting-item-right">
    	<label><input type="radio" name="focusable_on" value="1" checked>是</label>
    	<label><input type="radio" name="focusable_on" value="0">否</label>
    	</span></a>
    	</li>
    	<li class=""><a href="javascript:;" >主页允许访问
    	<span class="setting-item-right">
    	<label><input type="radio" name="visible_on" value="1" checked>是</label>
    	<label><input type="radio" name="visible_on" value="0">否</label>
    	</span></a>
    	</li>
    	<li class=""><a href="javascript:;" >文章允许评论
    	<span class="setting-item-right">
    	<label><input type="radio" name="esssay_comment_on" value="1" checked>是</label>
    	<label><input type="radio" name="essay_comment_on" value="0">否</label>
    	</span></a>
    	</li>
    	<li class=""><a href="javascript:;" >碎片允许评论
    	<span class="setting-item-right">
    	<label><input type="radio" name="piece_comment_on" value="1" checked>是</label>
    	<label><input type="radio" name="piece_comment_on" value="0">否</label>
    	</span></a>
    	</li>
</ul>
<button class="hs-btn hs-btn-{{interface_color}}" type="button">保存</button>
<div class="hs-alert hs-alert-{{interface_color}}">Tip:尚未实现</div>