<div class="setting-privacy" ng-controller="c_setting_privacy">
<ul class="hs-list">
    	<li class=""><a href="javascript:;" >允许关注
    	<span class="setting-item-right">
    	<input type="checkbox" name="followable" ng-model="user_config.privacy_followable">
    	</span></a>
    	</li>
    	<li class=""><a href="javascript:;" >主页允许访问
    	<span class="setting-item-right">
    	<input type="checkbox" name="visitable" ng-model="user_config.privacy_visitable">
    	</span></a>
    	</li>
    	<li class=""><a href="javascript:;" >文章允许评论
    	<span class="setting-item-right">
    	<input type="checkbox" name="essay_comment" ng-model="user_config.privacy_essay_comment">
    	</span></a>
    	</li>
    	<li class=""><a href="javascript:;" >碎片允许评论
    	<span class="setting-item-right">
    	<input type="checkbox" name="piece_comment" ng-model="user_config.privacy_piece_comment">
    	</span></a>
    	</li>
</ul>
<button class="hi-btn hi-btn-primary light" type="button" ng-click="savePrivacy()">保存</button>
</div>