<div class="setting-profile" ng-controller="c_setting_profile">
<div class="hs-panel hs-panel-default setting-user-avatar" ng-controller="c_modify_avatar">
    <div class="hs-panel-hd">头像
        <form class="hs-form upload-avatar-form" style="display:inline-block;float:right;" enctype="multipart/form-data" action="http://upload.qiniu.com/" method="post" target="upload_avatar_ifm">
            <button class="avatar-select hs-btn hs-btn-{{interface_color}} hs-btn-xs">
                <span id="avatar-file-name">选择头像</span>
                <input type="file" name="file" class="new_avatar" id="new_avatar" ng-model="new_avatar">
            </button>
            <input style="display:none" name="token" id="upload_avatar_token" ng-model="upload_avatar_token">
            <!-- <button style="display:inline-block;" class="hs-btn hs-btn-{{interface_color}} hs-btn-xs" ng-click="selectAvatar()" ng-bind="selectAvatarBtn"></button> -->
            <button type="button" style="display:inline-block;" class="hs-btn hs-btn-{{interface_color}} hs-btn-xs" ng-click="uploadAvatar()" ng-bind="uploadAvatarBtn"></button>
        </form>
        <iframe id='upload_avatar_ifm' name='upload_avatar_ifm' style="display:none"/>
    </div>
    <div class="hs-panel-bd">
    	<a href="javascript:;"><img class="origin-user-avatar" ng-src="{{avatar}}" alt='我的头像' ng-click="selectAvatar()" title="点击更换头像">
        </a>
    </div>
</div>
<ul class="hs-list">
    	<li class=""><a href="javascript:;" ng-click="modifyProfile('userNhse')">称呼
    	<span class="setting-item-right">{{user_info.username}}
    	&nbsp;<i class="hs-icon-angle-right"></i>
    	</span></a>
    	</li>
    	<li class=""><a href="javascript:;">ID
    	<span class="setting-item-right">{{user_info.id}}
    	</span></a>
    	</li>
    	<li class=""><a href="javascript:;">邮箱
    	<span class="setting-item-right">{{user_info.email}}
    	</span></a>
    	</li>
    	<li class=""><a href="javascript:;" ng-click="modifyProfile('signature')">个性签名
    	<span class="setting-item-right">{{user_info.signature}}
    	&nbsp;<i class="hs-icon-angle-right"></i>
    	</span></a>
    	</li>
                <li class=""><a href="javascript:;">IP
                <span class="setting-item-right">{{user_info.ip}}
                </span></a>
                </li>
    	<li class=""><a href="javascript:;">所在地
    	<span class="setting-item-right">{{user_info.city}}
    	</span></a>
    	</li>
</ul>

<hr data-hs-widget="divider" style="" class="hs-divider hs-divider-dashed" />

<div class="hs-panel hs-panel-default setting-modify-passwd" ng-controller="c_reset_passwd">
    <div class="hs-panel-hd" title="重置后需重新登录">重置密码&nbsp;&nbsp;<i class="hs-icon-info"></i></div>
    <div class="hs-panel-bd">
        <form class="hs-form">
            <div class="hs-input-group">
              <span class="hs-input-group-label"><i class="hs-icon-lock hs-icon-fw"></i> 旧密码</span>
              <input type="password" class="hs-form-field" name="old_passwd" placeholder="旧密码" ng-model="old_passwd">
            </div>
            <div class="hs-input-group">
              <span class="hs-input-group-label"><i class="hs-icon-lock hs-icon-fw"></i> 新密码</span>
              <input type="password" class="hs-form-field" name="new_passwd" placeholder="新密码" ng-model="new_passwd">
            </div>
            <button class="hs-btn hs-btn-{{interface_color}}" ng-click="resetPasswd()">重置</button>
        </form>
    </div>
</div>
<!--修改对话框-->
<!--修改用户名-->
<div ng-controller="c_setting_profile_modal">
<div class="hs-modal hs-modal-no-btn" tabindex="-1" id="setting_profile_modal_userNhse">
  <div class="hs-modal-dialog">
    <div class="hs-modal-hd">修改用户名
      <a href="javascript: void(0)" class="hs-close hs-close-spin" data-hs-modal-close>&times;</a>
    </div>
    <div class="hs-modal-bd">
      <form class="hs-form">
        <div class="hs-input-group">
            <span class="hs-input-group-label"><i class="hs-icon-user"></i> 新用户名</span>
            <input type="text" class="hs-form-field" name="new_usernhse" placeholder="新用户名" ng-model="new_usernhse">
        </div>
        <button type="button" class="hs-btn hs-btn-{{interface_color}} hs-btn-block" ng-click="modifyUserNhse('userNhse')">保存</button>
    </form>
    </div>
  </div>
</div>
<!--修改签名-->
<div class="hs-modal hs-modal-no-btn" tabindex="-1" id="setting_profile_modal_signature">
  <div class="hs-modal-dialog">
    <div class="hs-modal-hd">修改签名
      <a href="javascript: void(0)" class="hs-close hs-close-spin" data-hs-modal-close>&times;</a>
    </div>
    <div class="hs-modal-bd">
      <form class="hs-form">
        <div class="hs-input-group">
                  <span class="hs-input-group-label"><i class="hs-icon-tag"></i> 新签名</span>
                  <input type="text" class="hs-form-field modify_signature" name="new_signature" placeholder="新签名" ng-model="new_signature">
                </div>
                <button type="button" class="hs-btn hs-btn-{{interface_color}} hs-btn-block" ng-click="modifySignature('signature')">保存</button>
    </form>
    </div>
  </div>
</div>
</div>

<hr data-hs-widget="divider" style="" class="hs-divider hs-divider-dashed" />

<div class="profile-other">
<div class="hs-panel hs-panel-default">
<div class="hs-panel-hd">其它</div>
<div class="hs-panel-bd">
    <!-- 邀请码 -->
        <div class="hs-panel hs-panel-default">
            <div class="hs-panel-hd">
            <i class="hs-icon-tag"></i> 邀请码
            <a href="javascript:showModal('what_is_invite_code')" class="plain-link" style="float:right;">什么是邀请码？</a>
            </div>
            <div class="hs-panel-bd">
            <div class="hs-input-group">
            <input type="text" class="hs-form-field" name="invite_code" placeholder="通过邀请码邀请好友注册" ng-model="invite_code" disabled="disabled">
            <span class="hs-input-group-btn">
            <button class="hs-btn hs-btn-{{interface_color}}" type="button" ng-click="createInviteCode()">生成邀请码</button>
            </span>
            </div>
            </div>
        </div>
        <!-- modal,what is the fucking invite code -->
        <div class="hs-modal hs-modal-no-btn" tabindex="-1" id="what_is_invite_code">
          <div class="hs-modal-dialog">
            <div class="hs-modal-hd">什么是邀请码？
              <a href="javascript: void(0)" class="hs-close hs-close-spin" data-hs-modal-close>&times;</a>
            </div>
            <hr/>
            <div class="hs-modal-bd">
              在邀请注册期间，你的好友可以通过你分享的邀请码进行注册。
              每个邀请码只能使用一次，之后将自动更新你的邀请码。
            </div>
          </div>
        </div>
</div>
</div>
</div>
    
</div>

<script type="text/javascript">
</script>

