<ul class="hs-list">
    	<li class="">评论
    	<span class="setting-item-right">
    	<label><input type="radio" name="comment_on" value="1" checked>是</label>
    	<label><input type="radio" name="comment_on" value="0">否</label>
    	</span>
    	</li>
    	<li class="">@我
    	<span class="setting-item-right">
    	<label><input type="radio" name="at_on" value="1" checked>是</label>
    	<label><input type="radio" name="at_on" value="0">否</label>
    	</span>
    	</li>
    	<li class="">私信
    	<span class="setting-item-right">
    	<label><input type="radio" name="whisper_on" value="1" checked>是</label>
    	<label><input type="radio" name="whisper_on" value="0">否</label>
    	</span>
    	</li>
    	<li class="">通知
    	<span class="setting-item-right">
    	<label><input type="radio" name="notice_on" value="1" checked>是</label>
    	<label><input type="radio" name="notice_on" value="0">否</label>
    	</span>
    	</li>
</ul>
<button class="hs-btn hs-btn-primary" type="button">保存</button>
<div class="hs-alert hs-alert-warning">Tip:尚未实现</div>