<div class="setting-push" ng-controller="c_setting_push">
<ul class="hs-list">
    	<li class=""><a href="javascript:;" >评论
    	<span class="setting-item-right">
    	<input type="checkbox" name="comment_on" ng-model="user_config.push_comment">
    	</span></a>
    	</li>
    	<li class=""><a href="javascript:;" >@我
    	<span class="setting-item-right">
    	<input type="checkbox" name="at_on" ng-model="user_config.push_at">
    	</span></a></a>
    	</li>
    	<li class=""><a href="javascript:;" >私信
    	<span class="setting-item-right">
    	<input type="checkbox" name="whisper_on" ng-model="user_config.push_whisper">
    	</span></a>
    	</li>
    	<li class=""><a href="javascript:;" >通知
    	<span class="setting-item-right">
    	<input type="checkbox" name="notice_on" ng-model="user_config.push_notice">
    	</span></a>
    	</li>
</ul>
<button class="hi-btn hi-btn-primary light" type="button" ng-click="savePush()">保存</button>
</div>