<!-- <div class="follow-tip center-tip"><i class="hs-icon-warning"></i> 关注我的</div> -->
<ul class="hs-list followed-list">
    	<li class="">周杰伦
    	<span class="follow-item-right">
    	&nbsp;<i class="hs-icon-angle-right"></i>
    	</span>
    	</li>
    	<li class="">许巍
    	<span class="follow-item-right">
    	&nbsp;<i class="hs-icon-angle-right"></i>
    	</span>
    	</li>
    	<li class="">朴树
    	<span class="follow-item-right">
    	&nbsp;<i class="hs-icon-angle-right"></i>
    	</span>
    	</li>
    	<li class="">郑钧
    	<span class="follow-item-right">
    	&nbsp;<i class="hs-icon-angle-right"></i>
    	</span>
    	</li>
    	<li class="">James Blunt
    	<span class="follow-item-right">
    	&nbsp;<i class="hs-icon-angle-right"></i>
    	</span>
    	</li>
    	<li class="">Daniel Powter
    	<span class="follow-item-right">
    	&nbsp;<i class="hs-icon-angle-right"></i>
    	</span>
    	</li>
    	<li class="">宋冬野
    	<span class="follow-item-right">
    	&nbsp;<i class="hs-icon-angle-right"></i>
    	</span>
    	</li>
    	<li class="">小卢子
    	<span class="follow-item-right">
    	&nbsp;<i class="hs-icon-angle-right"></i>
    	</span>
    	</li>
    	<li class="">小桂子
    	<span class="follow-item-right">
    	&nbsp;<i class="hs-icon-angle-right"></i>
    	</span>
    	</li>
    	<li class="">指南针
    	<span class="follow-item-right">
    	&nbsp;<i class="hs-icon-angle-right"></i>
    	</span>
    	</li>
    	<li class="">李宗盛
    	<span class="follow-item-right">
    	&nbsp;<i class="hs-icon-angle-right"></i>
    	</span>
    	</li>
    	<li class="">Guns N' Roses
    	<span class="follow-item-right">
    	&nbsp;<i class="hs-icon-angle-right"></i>
    	</span>
    	</li>
    	<li class="">Maroon 5
    	<span class="follow-item-right">
    	&nbsp;<i class="hs-icon-angle-right"></i>
    	</span>
    	</li>
    	<li class="">万能青年
    	<span class="follow-item-right">
    	&nbsp;<i class="hs-icon-angle-right"></i>
    	</span>
    	</li>
    	<li class="">赵雷
    	<span class="follow-item-right">
    	&nbsp;<i class="hs-icon-angle-right"></i>
    	</span>
    	</li>
</ul>
