<div class="hs-panel hs-panel-{{interface_color}} follow-panel y-full" ng-controller="c_follow" style="border:0;">
  <div class="hs-panel-hd text-center"><big><b>关注</b></big></div>
  <div class="hs-panel-bd">
    <ul class="hs-nav hs-nav-tabs hs-nav-justify">
      <li ng-class="{'hs-active': follow_tab=='followed'}"><a href="javascript:void(0);" ng-click="followSwitchTab('followed')">关注我的</a></li>
      <li ng-class="{'hs-active': follow_tab=='following'}"><a href="javascript:void(0);" ng-click="followSwitchTab('following')">我关注的</a></li>
    </ul>
    <div class="follow-view" ui-view="follow">
      
    </div>
  </div>
</div>