<div class="follow-tip center-tip" ng-show="follow_tip_show"><i class="hs-icon-warning"></i> 暂无关注的人</div>
<ul class="hs-list following-list">
	<li class="following-list-item" id="{{item.follow_id}}" ng-repeat="item in follow_items" style="margin:10px 0;">
	<a href="javascript:;" ng-click="viewUser(item.username)" style="display:inline-block;">{{item.username}}</a>
    	<a href="javascript:;" class="plain-link" ng-click="remvoeFollow('following',item.follow_id)" style="float:right;">
    	取消关注
    	</a>
    </li>
</ul>