<div class="follow-tip center-tip" ng-show="follow_tip_show"><i class="hs-icon-warning"></i> 暂无人关注我</div>
<ul class="hs-list followed-list">
    <li id="{{item.follow_id}}" ng-repeat="item in follow_items" style="margin:10px 0;">
        <a href="javascript:;" ui-sref="user({user_id:item.id})" style="display:inline-block;">{{item.username}}</a>
        <a href="javascript:;" class="plain-link" ng-click="remvoeFollow('followed',item.follow_id)" style="float:right;">
	移除关注
        </a>
    </li>
</ul>
